@media screen and (max-width: 1024px) {
  body {
    background-color: var(--bg-color-cv);
  }
  .container {
    box-shadow: none;
    .container-block {
      .sidebar {
        div {
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
    .container-block {
      display: block;
    }
  }
  .header {
    .header-left {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .title {
      word-break: break-word;
      text-align: left;
      font-size: 1.3rem;
    }

    .header-right {
      display: none;
    }
  }
}
